.users-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .user-card:nth-of-type(2) {
    animation-duration: 0.5s;
  }
  .user-card:nth-of-type(3) {
    animation-duration: 1s;
  }
  .user-card:nth-of-type(4) {
    animation-duration: 1.5s;
  }
  .user-card:nth-of-type(5) {
    animation-duration: 2s;
  }
}
